# Pandas

Homework 2 - TCT - Data Processing with python


Pandas is a package used for managing data.

Pandas main use is that it creates 2 new data types for storing data: series and dataframe (df).

Think of a pandas dataframe like an excel spreadsheet that is storing some data.  One column can have customer name, one column can have product sold name, another column can have price or quantity... Then the rows could be individual sales.

A dataframe is made up of several series.  Each column of a dataframe is a series.

We can name each column and row of a dataframe.

A pandas dataframe is very similar to a data.frame in R.

Similar to numpy arrays, a dataframe is a more robust data type for storing data than lists of lists. Dataframes are more flexible than numpy arrays.

In a dataframe each column can have its own datatype.  

It is often easiest to convert some subset of a dataframe to a numpy array and then use that to do some math.

Pandas also has SQL-like functions for merging, joining, and sorting dataframes.

## Series

Pandas series are almost same as lists, with a additional inferencing ability with custom labels like *keys*, as in a *dictionary* in python.

In [5]:
import pandas as pd

In [6]:
#Example

series1 = pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])
series1

key1    1
key2    2
key3    3
dtype: int64

### Question 1

Create a list and then convert it to pd series and then to df.

### Question 2

Create a dict and then convert it to pd series and then to df.

In [9]:
#example dictionary

d1 = {'a': 1, 'b': 2, 'c': 3}

## Dataframes

A dataframe is a table with labeled columns which can hold different types of data in each column.

In [3]:
# Example
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

### Question 3

Select second row in the above dataframe df1.

### Question 4

Select column c in second row of df1.

## Using Dataframes on a dataset

##### Using the mtcars dataset. Available in Google Drive under Resrources or from link below

For the below set of questions, we will be using the cars data from [Motor Trend Car Road Tests](http://stat.ethz.ch/R-manual/R-devel/library/datasets/html/mtcars.html)

The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973â€“74 models). 


Details :
    
A data frame with 32 observations on 11 (numeric) variables.

[, 1] 	mpg 	Miles/(US) gallon

[, 2] 	cyl 	Number of cylinders

[, 3] 	disp 	Displacement (cu.in.)

[, 4] 	hp 	Gross horsepower

[, 5] 	drat 	Rear axle ratio

[, 6] 	wt 	Weight (1000 lbs)

[, 7] 	qsec 	1/4 mile time

[, 8] 	vs 	Engine (0 = V-shaped, 1 = straight)

[, 9] 	am 	Transmission (0 = automatic, 1 = manual)

[,10] 	gear 	Number of forward gears

[,11] 	carb 	Number of carburetors

Following questions are based on analysing a particular dataset using dataframes.

### Question 5

Load mtcars dataset and run info()

### Question 6

Select first 6 rows and 3 columns in mtcars dataframe.

### Question 7

Select rows from name **Mazda RX4** to **Valiant** in the mtcars dataset and display only mpg and cyl values of those cars.

### Question 8

- Sort the dataframe by mpg (i.e. miles/gallon).
- Hint: Use sort_values() function.

### Question 9

Create a new calcualted column called 'mph/hp' that is the ratio of values from column mph and hp

### Question 10

- Fint the number of unuque cars and return their names 
- Hint: use .nunique() and .unique on name column