
### Lists in Python

 Homework 1 - TCT - Data Processing with python

In [1]:
l1 = ['learning', "Python", 'is fun?', True]
print(l1)

['learning', 'Python', 'is fun?', True]

In [2]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]


### Question 1

Add 10 to list l1 given above.

### Question 2

Remove 10 from l1.

Joining 2 lists

### Question 3


### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]


### Question 5
Append the given sequence of numbers to l3 (given above) 0,1,3,3,5,5,7,9. Count the occurences of 5 in l3.


### Question 6
sort and print l3 in ascending and descending order sequentially (given above)

### Functions

### Question 7

Define a function with name **sum_3** which can take 3 numbers as input, and returns sum of them.

### Lambda Functions

### Question 8

Write the same above **sum_3** function using lambda.

###  Other types


### Question 9

Define a function that takes an input, squares it, adds 7, then returns the answer


### Question 10

Create a tuple and try chaning the first element