
### Lists in Python

 Homework 1 - TCT - Data Processing with python

In [1]:
l1 = ['learning', "Python", 'is fun?', True]
print(l1)

['learning', 'Python', 'is fun?', True]

In [2]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]


### Question 1

Add 10 to list l1 given above.

In [3]:
l1.append(10)

In [4]:
l1

['learning', 'Python', 'is fun?', True, 10]

### Question 2

Remove 10 from l1.

In [5]:
l1.remove(10)

In [6]:
l1

['learning', 'Python', 'is fun?', True]

Joining 2 lists

### Question 3

In [7]:
l1 = ['learning', "Python", 'is fun?', True]    # Create list l1.
l2 = list(("learning", "for", "life", True))

In [8]:
l1+l2    # Use of "+"" operator can easily add the whole of one list behind the other list and hence perform the concatenation.

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

In [9]:
# Extend:  Iterates over argument (in this example, argument = l2) and adding each element to the list and extending the list. 
# The length of the list increases by number of elements in it's argument.
l1.extend(l2)
print(l1)

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]


### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]

In [10]:
l3 = [2,4,6,8]   # Create list l3.

In [11]:
sum(l3)    # Sums up the numbers in the list.

20

In [12]:
len(l3)    # Returns length of list.

4

In [13]:
print("mean:",sum(l3)/len(l3))    # calculate mean/average of list by using sum and len functions.

mean: 5.0

In [14]:
min(l3)    # Returns the minimum value of a list.

2

In [15]:
max(l3)    # Returns the maximum value of a list.

8

In [16]:
print("range:",max(l3)-min(l3))

range: 6


### Question 5
Append the given sequence of numbers to l3 (given above) 0,1,3,3,5,5,7,9. Count the occurences of 5 in l3.

In [17]:
(l3 + [0,1,3,3,5,5,7,9]).count(5)    # Returns count of how many times a given object occurs in list.

2


### Question 6
sort and print l3 in ascending and descending order sequentially (given above)

In [18]:
l3.sort(reverse = True)    # This function can be used to sort a list in ascending, descending or user defined order.
print(l3)

[8, 6, 4, 2]

### Functions

### Question 7

Define a function with name **sum_3** which can take 3 numbers as input, and returns sum of them.

In [19]:
def sum_3(a,b,c): 
    d = a+b+c 
    return d

In [20]:
sum_3(2,3,5)

10

### Lambda Functions

### Question 8

Write the same above **sum_3** function using lambda.

In [21]:
# The syntax of lambda function is :
#     lambda arguments: expression
f = lambda x,y,z: x+y+z     # Here arguments are x, y, z and the expression to calculate is x+y+z.

In [22]:
f(1,2,3)

6

###  Other types


### Question 9

Define a function that takes an input, squares it, adds 7, then returns the answer

In [23]:
f=lambda x: x*x+7

In [24]:
f(2)

11


### Question 10

Create a tuple and try chaning the first element

In [25]:
tuple_1=(1,5,8,10)
print(tuple_1)

(1, 5, 8, 10)

In [26]:
tuple_1[0]=2

TypeError: 'tuple' object does not support item assignment

In [27]:
ls4 = list(tuple_1)

In [28]:
ls4[0]=2

In [29]:
ls4

[2, 5, 8, 10]

In [30]:
tuple_1=tuple(ls4)

In [31]:
tuple_1

(2, 5, 8, 10)