## Case study  - Uber Data Analysis


#### Dataset - 
There are two datasets to be used here. The dataset contains-

**Uberdrive.csv**
- Trip_Id - Id for the trip
- Start Date - the date and time of the start of the trip
- End Date - the date and time of the end of the trip
- Start Location - staring location of the trip 
- End Location  - location where the trip ended
- Purpose of drive - Purpose of the trip (Business, Personal, Meals, Errands, Meetings, Customer Support etc.)


**Uberdrive_Miles.csv**
- Trip_Id - Id for the trip
- Miles Driven  - Total miles driven between the start and the end of the trip

----------------------
 #### Concepts To cover 
----------------------
- 1. <a href = #link1>Overview of the data at hand</a>
- 2. <a href = #link3>Filtering Data</a> 
- 3. <a href = #link2>Data profiling and the functions offered by pandas for understanding the data</a>
- 4. <a href = #link4>DateTime operations</a>

In [1]:
# Import the libraries 
import numpy as np
import pandas as pd
from datetime import datetime

### <a id = "link1"></a>Overview of the data

In [ ]:
# Read the Data uberdrive into a df

In [2]:
# View first 3 rows of data

In [ ]:
# Read the Data UberDrive_Miles into another df

In [3]:
# View first 3 rows of data

In [4]:
# understand shape and size of data from Uberdrive

In [5]:
# check info about data (includes column names, the number of non-null values in it, and data-type for each column.)

### Renaming columns

In [6]:
# Replace the * character from all the  columns

### <a id = "link3"></a>Filtering dataframes
#### Using null values

In [7]:
# shows the top 5 entries where PURPOSE is null


#### Filtering out records based on conditions

In [8]:
# check how many trips were longer than 30 miles

**Name and Number of all unique start and stop points**

In [10]:
# Get the unique starting point, unique destination

In [11]:
# Get the unique starting point, unique destination

In [12]:
# Get the names of stopping destinations, unique destinations

In [13]:
# Names of unique stopping points

**Identify popular start points**

In [14]:
#get top 10 most frequent Start points
#hint: use value_conts()

**Identify popular stop destinations**

In [15]:
#get top 10 most frequent Stop points
#hint: use value_conts()

**Are there cases where the start and the stop location are the same ? If so how many**

**Starting point from which the most miles have been driven**

**In order to use the miles feature, you need to merge the two dataframes so that the all the information is in one dataframe.**
- using merge

**Use groupby function to find the starting point from which the most miles have been driven**

**Find the top10 start stop pair that have the most miles covered between them ever.**

**Working with dates.**

In [ ]:
#check column type for uberdrive df

In [16]:
# create columns by converting the start and end date into a datatime format
# you can also over write the same column - but for the sake of understanding the difference in formats, we create new columns

In [17]:
#Ã¥rint first 5 rows of data.

In [18]:
# see how the dtype is different, print column types

In [ ]:
# Create more columns by using the inbuilt functionalities of datatime module, day, hour, month, dayofweek

In [ ]:
#create a new column that has week day by name and month by name

**Find the busiest month in terms of number of drives and miles driven**

In [19]:
#groupby calender months and count the number of drives

In [20]:
#groupby calender months and sum the number of miles driven

**Busiest day in terms of number of rides**

In [21]:
# Which day did the driver get most drives?

**Peak hours?**

In [22]:
#use groupby on start_hour to find peak hours

**Most frequent trip category**

In [24]:
#Category

**Most frequent Purpose**

In [23]:
#Purpose

**Most trips are for meetings**

In [25]:
#Average distance traveled for each activity

In [26]:
#How many miles were driven per category and purpose ?

In [27]:
#How many miles were driven per category and purpose ?

In [28]:
#What is percentage of business miles vs personal?