# TCT - Day 15
- Setting working directory & reading many files with the same extension from it 
- Intro to regex

## Working directory

In [11]:
import os
import glob
import pandas as pd

In [3]:
os.getcwd()

'C:\\Users\\lear_\\Downloads'

In [4]:
PATH=os.getcwd()
PATH

'C:\\Users\\lear_\\Downloads'

In [5]:
PATH_NEW="C:\\Users\\lear_\\Desktop"

In [6]:
os.chdir(PATH_NEW)

In [7]:
os.getcwd()

'C:\\Users\\lear_\\Desktop'

In [ ]:
#example of file path
"C:\\Users\\lear_\\Desktop\\example1.csv"

In [8]:
PATHS=os.path.join(os.getcwd(),'*.xlsx')

In [9]:
all_filles=glob.glob(PATHS)

In [10]:
all_filles

['C:\\Users\\lear_\\Desktop\\Copy of Wind Farm Development Model(1553).xlsx',
 'C:\\Users\\lear_\\Desktop\\dkarbo expenses.xlsx',
 'C:\\Users\\lear_\\Desktop\\expenses new year 2022.xlsx']

In [12]:
list_data=[]

for file in all_filles:
    print(file,'\n')
    df=pd.read_excel(file)
    list_data.append(df)

C:\Users\lear_\Desktop\Copy of Wind Farm Development Model(1553).xlsx

C:\Users\lear_\Desktop\dkarbo expenses.xlsx

C:\Users\lear_\Desktop\expenses new year 2022.xlsx

In [17]:
len(list_data)

3

In [19]:
list_data[2]

        lidl     144
0    ottoman   780.0
1       spar   187.0
2      netto    55.0
3       spar   109.0
4       spar   300.0
5   espresso    88.0
6       spar   140.0
7      netto   600.0
8    emmerys   360.0
9      total  2763.0
10      half  1381.5
11    thirtd   921.0
12     poker   821.0

In [20]:
all_df= pd.concat(list_data,axis=0,ignore_index=True)

In [21]:
all_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Items,Quantity,Fixed/Variable,Total,lidl,144
0,NaN,NaN,NaN,NaN,Financial Model,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,emmerys,360.0
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,total,2763.0
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,half,1381.5
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,thirtd,921.0
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,poker,821.0

## Intro to regex

In [22]:
import re

In [44]:
text_to_search = '''
abcdefghijklmnopqurtuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890
123abcdef

Hello HelloHello

MetaCharacters (Need to be escaped):
. ^ $ * + ? { } [ ] \ | ( )

university.edu

contact@ledianselimaj.com

annie.eni97@gmail.com

Mr. Johnson
Mr Smith
Ms Davis
Mrs. Robinson
Mr. T
23562476
'''

In [24]:
urls = r'''
https://www.google.com
http://yahoo.com
https://www.whitehouse.gov
https://craigslist.org
'''

### match full string

In [32]:
pattern=re.compile(r'def')

In [33]:
matches=pattern.finditer(text_to_search)

In [34]:
matches

In [35]:
for match in matches:
    print(match)

<re.Match object; span=(4, 7), match='def'>
<re.Match object; span=(72, 75), match='def'>

### match all characters

In [39]:
pattern=re.compile(r'\d')
matches=pattern.finditer(text_to_search)
for match in matches:
    print(match)

<re.Match object; span=(55, 56), match='1'>
<re.Match object; span=(56, 57), match='2'>
<re.Match object; span=(57, 58), match='3'>
<re.Match object; span=(58, 59), match='4'>
<re.Match object; span=(59, 60), match='5'>
<re.Match object; span=(60, 61), match='6'>
<re.Match object; span=(61, 62), match='7'>
<re.Match object; span=(62, 63), match='8'>
<re.Match object; span=(63, 64), match='9'>
<re.Match object; span=(64, 65), match='0'>
<re.Match object; span=(66, 67), match='1'>
<re.Match object; span=(67, 68), match='2'>
<re.Match object; span=(68, 69), match='3'>
<re.Match object; span=(254, 255), match='2'>
<re.Match object; span=(255, 256), match='3'>
<re.Match object; span=(256, 257), match='5'>
<re.Match object; span=(257, 258), match='6'>
<re.Match object; span=(258, 259), match='2'>
<re.Match object; span=(259, 260), match='4'>
<re.Match object; span=(260, 261), match='7'>
<re.Match object; span=(261, 262), match='6'>

In [40]:
pattern=re.compile(r'\d\w')
matches=pattern.finditer(text_to_search)
for match in matches:
    print(match)

<re.Match object; span=(55, 57), match='12'>
<re.Match object; span=(57, 59), match='34'>
<re.Match object; span=(59, 61), match='56'>
<re.Match object; span=(61, 63), match='78'>
<re.Match object; span=(63, 65), match='90'>
<re.Match object; span=(66, 68), match='12'>
<re.Match object; span=(68, 70), match='3a'>
<re.Match object; span=(254, 256), match='23'>
<re.Match object; span=(256, 258), match='56'>
<re.Match object; span=(258, 260), match='24'>
<re.Match object; span=(260, 262), match='76'>

### match email

In [46]:
pattern=re.compile(r'[a-zA-Z0-9_.+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]{2,4}')
matches=pattern.finditer(text_to_search)
for match in matches:
    print(match)

<re.Match object; span=(177, 202), match='contact@ledianselimaj.com'>
<re.Match object; span=(204, 225), match='annie.eni97@gmail.com'>

### match web site address

In [47]:
pattern=re.compile(r'https?://(www\.)?(\w+)\.(\w+)')
matches=pattern.finditer(urls)
for match in matches:
    print(match)

<re.Match object; span=(1, 23), match='https://www.google.com'>
<re.Match object; span=(24, 40), match='http://yahoo.com'>
<re.Match object; span=(41, 67), match='https://www.whitehouse.gov'>
<re.Match object; span=(68, 90), match='https://craigslist.org'>